* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    background-color: #967E76;
}

.container {
    background-color: #D7C0AE;
    display: grid;
    height: 100%;
    overflow-y: auto;
}

.bookshelf {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #967E76;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.library {
    height: 85vh;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 2rem;
}

.add-btn {
    height: 3rem;
    width: 9rem;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #967E76;
}

.add-btn:hover {
    background-color:#967E76;
    transition: 0.2s;
    color: #D7C0AE;
}

.center {
    position: absolute;
    margin: auto;   
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #967E76;
    width: 20rem;
    height: 20rem;
    color: white;
}

fieldset {
    border: none;
}

.topFieldset {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;

}

.exit {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: #967E76;
}

.exit:hover {
    color:#967E76;
    transition: 0.2s;
    background-color: #D7C0AE;
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-top: 1rem;
    font-size: 1.3rem;
}

input {
    background-color: #D7C0AE;
    border: none;
    padding: .2rem;
}

textarea:focus, input:focus{
    outline: none;
}

.title,
.author,.pages,
.releaseyear {
    display: flex;
    justify-content: space-between;
}

.mark-as-read {
    font-size: 1rem;
    display: flex;
    justify-content: end;
}

.submit-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.submit {
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    color: #967E76;
}

.submit:hover {
    color:#967E76;
    transition: 0.2s;
    background-color: #D7C0AE;
}


.hideform {
    display: none;
}

td, th { border: 1px solid black; }

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); 
    gap: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 5fr 1fr;
    gap: 2rem;
    background-color: #B7C4CF;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: solid #967E76;
}

ul {
    list-style-type: none;
    color: #967E76;

}

.cover {
    height: 15rem;
    grid-row: 1 / 3;

}

.myUl {
    grid-column: 2;

}

.removeButton {
    grid-column: 2;
    grid-row: 2;
    height: 2rem;
    background-color: #967E76;
    border: none;
    border-radius: 10px;
    color: white;
}

.removeButton:hover {
    color:#967E76;
    transition: 0.2s;
    background-color: #D7C0AE;
}

.readButton {
    grid-column: 3;
    grid-row: 2;
    height: 2rem;
    background-color: #967E76;
    border: none;
    border-radius: 10px;
    color: white;
}

.readButton:hover {
    color:#967E76;
    transition: 0.2s;
    background-color: #D7C0AE;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #967E76;
    color: white;
    position: re;
    bottom: 0;
    width: 100%;

  }
  
 